/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*start*/

* {
    box-sizing: border-box;

}

body {
    background-color: gainsboro;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    display: flex;
    padding-bottom: 3rem;
}

h1 {
    background-color: rgb(112, 135, 138);
    text-align: center;
    width: 100vw;
    padding: 1rem;
    position: fixed;
    font-size: 3rem;
    font-weight: 700;
    color: white
}

form {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}

article {
    width: 100vw;
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultCard {
    background-color: rgb(197, 195, 195);
    width: 20rem;
    height: 40rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    line-height: 1.2rem;
}

.resultCard h2 {
    padding-top: 1rem;
    text-align: center;
    font-weight: bold;
}

.resultCard img {
    padding-top: 1rem;
    width: 15rem;
    object-fit: contain;
}

.resultCard p {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    overflow: scroll;
}

input[type=text] {
    background-color: gainsboro;
    border: none;
    outline: none;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: light;
}

input textarea {
    background-color: gainsboro;

}

button {
    background-color: rgb(112, 135, 138);
    color: #fff;
    border: none;
    padding: 0.6em 1em;
    margin: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: .3em;
    cursor: pointer;
}